/* Text */

.text-center{
    text-align: center;
}

.heading-small {
    font-size: 1.25rem;
}

.heading-medium {
    font-size: 1.5rem;
}

.heading-big {
    font-size: 1.75rem;
}

/* colors*/

.bg-green {
    background: rgb(1, 102, 1);
}
.bg-light-green{
   background: rgb(3, 167, 3); 
}

/* container */

.container {
    max-width: 1200px;
    margin: auto;
}
